In [15]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [33]:
# Read the raw dataset and make a copy dataframe
raw_df = pd.read_excel("../1_datasets/raw_data/UN_Comtrade_imports_dataset_raw.xlsx")
df = raw_df.copy()
df.head()

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20190101,2019,52,2019,4,AFG,Afghanistan,M,...,0.0,True,0.0,False,89932863.97,0.0,89932863.97,4,False,True
1,C,A,20070101,2007,52,2007,140,CAF,Central African Rep.,M,...,1796.0,False,NaN,False,26489.00,NaN,26489.00,0,True,False
2,C,A,20080101,2008,52,2008,140,CAF,Central African Rep.,M,...,1654.0,False,NaN,False,61941.00,NaN,61941.00,0,True,False
3,C,A,20090101,2009,52,2009,140,CAF,Central African Rep.,M,...,7822.0,False,NaN,False,269897.00,NaN,269897.00,0,True,False
4,C,A,20100101,2010,52,2010,140,CAF,Central African Rep.,M,...,12346.0,False,NaN,False,173026.00,NaN,173026.00,0,True,False

In [34]:
# Display the shape of the DataFrame (number of rows and columns)
df.shape

(1306, 47)

In [35]:
# Display information about the DataFrame, including column data types and non-null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1306 entries, 0 to 1305
Data columns (total 47 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   typeCode                  1306 non-null   object
 1   freqCode                  1306 non-null   object
 2   refPeriodId               1306 non-null   int64
 3   refYear                   1306 non-null   int64
 4   refMonth                  1306 non-null   int64
 5   period                    1306 non-null   int64
 6   reporterCode              1306 non-null   int64
 7   reporterISO               1306 non-null   object
 8   reporterDesc              1306 non-null   object
 9   flowCode                  1306 non-null   object
 10  flowDesc                  1306 non-null   object
 11  partnerCode               1306 non-null   int64
 12  partnerISO                1306 non-null   object
 13  partnerDesc               1306 non-null   object
 14  partner2Code              1306 non-null   int64
 15  partner2ISO               1306 non-null   object
 16  partner2Desc              1306 non-null   object
 17  classificationCode        1306 non-null   object
 18  classificationSearchCode  1306 non-null   object
 19  isOriginalClassification  1306 non-null   bool
 20  cmdCode                   1306 non-null   int64
 21  cmdDesc                   1306 non-null   object
 22  aggrLevel                 1306 non-null   int64
 23  isLeaf                    1306 non-null   bool
 24  customsCode               1306 non-null   object
 25  customsDesc               1306 non-null   object
 26  mosCode                   1306 non-null   int64
 27  motCode                   1306 non-null   int64
 28  motDesc                   1306 non-null   object
 29  qtyUnitCode               1306 non-null   int64
 30  qtyUnitAbbr               457 non-null    object
 31  qty                       984 non-null    float64
 32  isQtyEstimated            1306 non-null   bool
 33  altQtyUnitCode            1306 non-null   int64
 34  altQtyUnitAbbr            457 non-null    object
 35  altQty                    762 non-null    float64
 36  isAltQtyEstimated         1306 non-null   bool
 37  netWgt                    1187 non-null   float64
 38  isNetWgtEstimated         1306 non-null   bool
 39  grossWgt                  668 non-null    float64
 40  isGrossWgtEstimated       1306 non-null   bool
 41  cifvalue                  1306 non-null   float64
 42  fobvalue                  273 non-null    float64
 43  primaryValue              1306 non-null   float64
 44  legacyEstimationFlag      1306 non-null   int64
 45  isReported                1306 non-null   bool
 46  isAggregate               1306 non-null   bool
dtypes: bool(8), float64(7), int64(14), object(18)
memory usage: 408.3+ KB

In [36]:
# Display the column names of the DataFrame
df.columns

Index(['typeCode', 'freqCode', 'refPeriodId', 'refYear', 'refMonth', 'period',
       'reporterCode', 'reporterISO', 'reporterDesc', 'flowCode', 'flowDesc',
       'partnerCode', 'partnerISO', 'partnerDesc', 'partner2Code',
       'partner2ISO', 'partner2Desc', 'classificationCode',
       'classificationSearchCode', 'isOriginalClassification', 'cmdCode',
       'cmdDesc', 'aggrLevel', 'isLeaf', 'customsCode', 'customsDesc',
       'mosCode', 'motCode', 'motDesc', 'qtyUnitCode', 'qtyUnitAbbr', 'qty',
       'isQtyEstimated', 'altQtyUnitCode', 'altQtyUnitAbbr', 'altQty',
       'isAltQtyEstimated', 'netWgt', 'isNetWgtEstimated', 'grossWgt',
       'isGrossWgtEstimated', 'cifvalue', 'fobvalue', 'primaryValue',
       'legacyEstimationFlag', 'isReported', 'isAggregate'],
      dtype='object')

In [37]:
# Define a list of columns to be dropped
columns_to_drop = [
    "typeCode",
    "freqCode",
    "refPeriodId",
    "refMonth",
    "period",
    "reporterCode",
    "flowCode",
    "flowDesc",
    "partnerCode",
    "partnerDesc",
    "partner2Desc",
    "partnerISO",
    "partner2Code",
    "partner2Code",
    "partner2ISO",
    "classificationCode",
    "classificationSearchCode",
    "isOriginalClassification",
    "aggrLevel",
    "isLeaf",
    "customsCode",
    "customsDesc",
    "mosCode",
    "motCode",
    "motDesc",
    "qtyUnitCode",
    "qtyUnitAbbr",
    "isQtyEstimated",
    "altQtyUnitCode",
    "altQtyUnitAbbr",
    "altQty",
    "isAltQtyEstimated",
    "isNetWgtEstimated",
    "grossWgt",
    "isGrossWgtEstimated",
    "cifvalue",
    "fobvalue",
    "qty",
    "legacyEstimationFlag",
    "isReported",
    "isAggregate",
]
# Drop the specified columns from the DataFrame and create a new DataFrame
new_df = df.drop(columns=columns_to_drop)

In [38]:
# Display the column names of the new DataFrame
new_df.columns

Index(['refYear', 'reporterISO', 'reporterDesc', 'cmdCode', 'cmdDesc',
       'netWgt', 'primaryValue'],
      dtype='object')

In [39]:
# Display the shape of the new DataFrame
new_df.shape

(1306, 7)

In [40]:
# Rename the columns for clarity
new_df.rename(
    columns={
        "refYear": "Year",
        "reporterISO": "Country_Code",
        "reporterDesc": "Country",
        "cmdCode": "Product_Code",
        "cmdDesc": "Product_Description",
        "netWgt": "Net_Weight_kg",
        "primaryValue": "Value_USD",
    },
    inplace=True,
)

# Display the first 5 rows of the DataFrame with the new column names
new_df.head()

,Year,Country_Code,Country,Product_Code,Product_Description,Net_Weight_kg,Value_USD
0,2019,AFG,Afghanistan,854140,"Electrical apparatus; photosensitive, includin...",0.0,89932863.97
1,2007,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",1796.0,26489.00
2,2008,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",1654.0,61941.00
3,2009,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",7822.0,269897.00
4,2010,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",12346.0,173026.00

In [41]:
# Display the column names of the DataFrame after renaming
new_df.columns

Index(['Year', 'Country_Code', 'Country', 'Product_Code',
       'Product_Description', 'Net_Weight_kg', 'Value_USD'],
      dtype='object')

In [42]:
# check missing values
new_df.isna().sum()

Year                     0
Country_Code             0
Country                  0
Product_Code             0
Product_Description      0
Net_Weight_kg          119
Value_USD                0
dtype: int64

In [43]:
# Treat zero weights as missing
new_df["Net_Weight_kg"].value_counts()

Net_Weight_kg
0.000          23
11744.000       1
381924.000      1
13967.000       1
899335.000      1
               ..
4563267.000     1
3360943.000     1
4750917.000     1
359088.608      1
3539582.055     1
Name: count, Length: 1165, dtype: int64

In [45]:
#  Treat zero weights as missing
new_df["Net_Weight_kg"] = new_df["Net_Weight_kg"].replace(0, np.nan)

In [46]:
# check missing values after treating zero weights
new_df.isna().sum()

Year                     0
Country_Code             0
Country                  0
Product_Code             0
Product_Description      0
Net_Weight_kg          142
Value_USD                0
dtype: int64

In [ ]:
# Compute average weight-to-value ratio per product
weight_value_ratio = (
    new_df[new_df["Net_Weight_kg"].notna() & new_df["Value_USD"] > 0]
    .groupby("Product_Description")
    .apply(lambda x: (x["Net_Weight_kg"] / x["Value_USD"]).mean())
    .to_dict()
)


# Define a function to estimate missing weight
def estimate_weight(row):
    if np.isnan(row["Net_Weight_kg"]):
        ratio = weight_value_ratio.get(row["Product_Description"])
        if ratio:
            return row["Value_USD"] * ratio
    return row["Net_Weight_kg"]


# Apply function to fill missing (zero) weights
new_df["Net_Weight_kg"] = new_df.apply(estimate_weight, axis=1)

# Check for missing values after estimation
new_df.isna().sum()

C:\Users\Ø²ÙŠÙ†Ø¨\AppData\Local\Temp\ipykernel_71244\4127293448.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: (x["Net_Weight_kg"] / x["Value_USD"]).mean())

Year                   0
Country_Code           0
Country                0
Product_Code           0
Product_Description    0
Net_Weight_kg          0
Value_USD              0
dtype: int64

In [20]:
# Create a copy of the DataFrame for further processing
df = new_df.copy()
df.sample(5)

,Year,Country_Code,Country,Product_Code,Product_Description,Net_Weight_kg,Value_USD
173,2012,UKR,Ukraine,854140,"Electrical apparatus; photosensitive, includin...",2.717286e+07,8.235420e+08
1090,2012,MAR,Morocco,850440,Electrical static converters,2.679077e+06,3.953371e+07
626,2007,MLI,Mali,851310,"Lamps; portable, electric, designed to functio...",1.093373e+06,1.613039e+06
926,2006,MLI,Mali,851310,"Lamps; portable, electric, designed to functio...",1.021997e+06,1.218805e+06
1296,2023,MAR,Morocco,854143,Electrical apparatus; photosensitive semicondu...,3.056804e+07,1.330478e+08

In [21]:
new_df["Net_Weight_kg"].value_counts()

Net_Weight_kg
7.700172e+07    1
2.447700e+05    1
2.577085e+05    1
6.870000e+02    1
2.780500e+04    1
               ..
2.481100e+04    1
1.328400e+04    1
2.058145e+06    1
1.163100e+04    1
3.551521e+08    1
Name: count, Length: 1306, dtype: int64

In [22]:
# check duplicate rows
new_df.duplicated().sum()

0

Add new *column*

In [23]:
conflict_years = {
    "Central African Rep.": list(range(2012, 2024)),
    "Somalia": list(range(1991, 2024)),
    "Pakistan": [
        2001,
        2004,
        2007,
        2008,
        2009,
        2014,
        2023,
        2025,
    ],  # Major conflict years
    "Mozambique": [2017, 2018, 2019, 2020, 2021],
    "Myanmar": list(range(2016, 2024)),
    "Ethiopia": [2020, 2021, 2022],
    "Ukraine": [2014, 2022, 2023],
    "Yemen": list(range(2014, 2024)),
    "Libya": [2011, 2014, 2015, 2016, 2017, 2018, 2019, 2020],
    "Afghanistan": list(range(2001, 2022)),
    "Nigeria": [2009, 2010, 2011, 2014, 2015, 2018, 2020],
    "Syria": list(range(2011, 2024)),
    "Iraq": list(range(2003, 2017)),
    "Sudan (...2011)": [2003, 2004, 2005, 2013, 2019, 2020, 2023, 2024, 2025],
    "Sudan": [2003, 2004, 2005, 2013, 2019, 2020, 2023, 2024, 2025],
    "South Sudan": list(range(2013, 2020)),
    "State of Palestine": list(range(2000, 2025)),
    "Mali": list(range(2010, 2024)),
}

In [ ]:
# Define a function to check if a year is a conflict year for a given country
def is_conflict_year(row):
    country = row["Country"]
    year = row["Year"]
    if country in conflict_years and year in conflict_years[country]:
        return True
    return False


new_df["Conflict_Year"] = new_df.apply(is_conflict_year, axis=1)

In [27]:
new_df.head(10)

,Year,Country_Code,Country,Product_Code,Product_Description,Net_Weight_kg,Value_USD,Conflict_Year
0,2019,AFG,Afghanistan,854140,"Electrical apparatus; photosensitive, includin...",7.700172e+07,89932863.97,True
1,2007,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",1.796000e+03,26489.00,False
2,2008,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",1.654000e+03,61941.00,False
3,2009,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",7.822000e+03,269897.00,False
4,2010,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",1.234600e+04,173026.00,False
5,2011,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",3.008100e+04,195692.00,False
6,2012,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",2.603000e+04,213046.00,True
7,2013,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",2.640000e+03,10144.00,True
8,2014,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",1.604700e+04,226134.00,True
9,2015,CAF,Central African Rep.,854140,"Electrical apparatus; photosensitive, includin...",2.991000e+03,48027.00,True

In [28]:
conflict_years_by_country = new_df.groupby("Country")["Conflict_Year"].apply(
    lambda x: list(np.unique(x))
)
conflict_years_by_country

Country
Afghanistan                    [True]
Central African Rep.    [False, True]
Ethiopia                [False, True]
Germany                       [False]
Iraq                           [True]
Libya                   [False, True]
Mali                    [False, True]
Morocco                       [False]
Mozambique              [False, True]
Myanmar                 [False, True]
Nigeria                 [False, True]
Pakistan                [False, True]
Rwanda                        [False]
Saudi Arabia                  [False]
State of Palestine             [True]
Sudan                   [False, True]
Sudan (...2011)         [False, True]
Syria                         [False]
Ukraine                 [False, True]
Yemen                   [False, True]
Name: Conflict_Year, dtype: object

In [29]:
# Save the cleaned DataFrame to an Excel file
new_df.to_excel(
    "../1_datasets/cleaned_data/UN_comtrade_clean_dataset.xlsx",
    index=False,
)